<h2>index.erb</h2><br><br>

<h3>Current Projects:</h3>
<%
# clickable list of projects goes here
%>

<h4><a href="/project_form" class="btn btn-danger">Add a project</a></h4>
<h4><a href="/volunteer_form" class="btn btn-danger">View / Add volunteers</a></h4>
<h4><a href="/" class="btn btn-danger">Back to main</a></h4>
