<h2>project_form.erb</h2><br><br>

<p><%= @project_new %> has beed added.</p><br>


<ul style="list-style: none;">
  <% @projects.each() do |project| %>
  <li><a href="/projects/ <%= project.id() %>"> <%= project.name_project() %></a></li>
  <% end %>
</ul>

<br><br>
<form action="/project_new" method="POST">
 <div class="form-group">
    <label for="new_project">Project Name:</label>
    <input name="new_project" class="form-control" type="text">
 </div>
 <hr>
 <button type="submit" class="btn btn-success">Submit new project</button>
</form>
<br><br>
<h4><a href="/project_form" class="btn btn-danger">Reload this page</a></h4>
<h4><a href="/volunteer_form" class="btn btn-danger">View / Add volunteers</a></h4>
<h4><a href="/" class="btn btn-danger">Back to main</a></h4>
