<h2>volunteer_form.erb</h2><br><br>


<h3>Current Volunteers:</h3>

<p><%= @volunteer_new %> has beed added.</p><br>

<ul style="list-style: none;">
  <% @volunteers.each() do |volunteer| %>
  <li><a href="/volunteers/ <%= volunteer.id() %>"> <%= volunteer.name_volunteer() %></a></li>
  <% end %>
</ul>

<form action="/volunteer_new" method="POST">
 <div class="form-group">
    <label for="new_volunteer">Volunteer Name:</label>
    <input name="new_volunteer" class="form-control" type="text">
 </div>

 <hr>
 <button type="submit" class="btn btn-success">Submit new volunteer</button>
</form>


<br><br>
<h4><a href="/volunteer_form" class="btn btn-danger">Reload this page</a></h4>
<h4><a href="/project_form" class="btn btn-danger">Add projects</a></h4>
<h4><a href="/" class="btn btn-danger">Back to main</a></h4>
